<div class="flex-container">
  <% @rentals.each do |rental| %>
  <div class="card">


    <p>Rental Number: <%= rental.id() %></p>
    <p>Customer: <%= rental.customer.name() %></p>
    <p>Equipment: <%= rental.stock_item.name() %> <%= rental.stock_item.size %></p>
    <form method="post" action="/rentals/<%= rental.id %>/delete">
      <input type="submit" value="Close Rental"/>
    </form>
    </div>
  <% end %>
</div>
<form method="get" action="/rentals/new">
  <input type="submit" value="New Rental"/>
</form>
