<h1>New Rental</h1>

<form action="/rentals" method="post">
  <label>
  Select a Customer:
    <select name="customer_id">
      <% for customer in @customers %>
      <option value="<%= customer.id %>"><%= customer.name %></option>
      <% end %>
    </select>
  </label>

  <label>
  Select Equipment:
    <select name="stock_item_id">
      <% for stock_item in @stock_items %>
      <option value="<%= stock_item.id %>"><%= stock_item.name %> <%=stock_item.size%></option>
      <% end %>
    </select>
  </label>



  <input  type='submit' value="Open Rental">
</form>
